* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Outfit, sans-serif;
  background-color: var(--light-color-2);
}

:root {
  --light-color-1: hsl(0, 0%, 100%);
  --light-color-2: hsl(212, 45%, 89%);
  --accent-color-1: hsl(220, 15%, 55%);
  --accent-color-2: hsl(218, 44%, 22%);
  --paragraph-font-size: 15px;
  --title-paragraph: 20px;
}

.qr-container {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  width: 20%;
  min-width: 300px;
  background-color: var(--light-color-1);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 15px;
}

.qr-img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
}

.qr-title,
.qr-text {
  text-align: center;
}

.qr-title {
  font-size: var(--title-paragraph);
  padding: 0 15px;
}

.qr-text {
  font-size: var(--paragraph-font-size);
  color: var(--accent-color-1);
  padding: 0 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
